#messages{
    background-color: rgb(106, 106, 156);
    width: 500px;
    height: 520px;
}

li{
    list-style: none;
    color: silver;
    background-color: gray;
    width: 200px;
    height: 40px;
    padding-left: 10px;
}
ul{
    margin-left: 5px;
}

